.p-chat
  .p-chat__inner
    .p-chat__rooms
      .p-chat__heading
        h1チャットルーム一覧
      ul.p-chat__roomList
        - @rooms.each do |room|
          li = link_to "#{room.user.name}", admin_room_path(room), class: 'p-chat__roomLink'
