$input-text: 16px
$input-background: #fbfbfb
@import '../../../assets/stylesheets/foundation/mixins'
@import '../../../assets/stylesheets/foundation/variables'
@import '../../../assets/stylesheets/utility/size'
.Form
  &__wrapper
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    padding: 48px
    // @include mq('tab')
    //   padding: 0
  &__overlay
    z-index: 9999
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    padding: 50px
    @include mq('tab')
      display: none
  &__form
    z-index: 10000
    position: absolute
    left: 0
    right: 0
    margin: auto
    border-radius: 4px
    width: 480px
    background-color: rgba(255,255,255,1)
    box-shadow: 1px 3px 3px rgba(0,0,0,0.7)
    @include mq('tab')
      width: 100%
      height: 100%
    p
      text-align: left
      font-size: 1.2em
      margin-top: 5px
  &__heading
    text-align: center
    font-size: 24px
  &__container
    padding:  24px 24px 56px
    margin: 0 auto
  &__formItem
    width: 100%
    padding-top: 8px
    text-align: left
  &__label
    font-size: 16px
    text-align: left
  &__required
    color: #ea4c89
    margin-left: 8px
  &__field
    font-size: $input-text
    padding: 8px
    background: transparent
    border: 1px solid rgba(0, 0, 0, .5)
    width: 100%
    border-radius: 4px
    box-sizing: border-box
    transition: .3s
    &:hover
      border-color: $second-color
  &__area
    font-size: $input-text
    padding: 8px
    background: transparent
    width: 100%
    border: 1px solid rgba(0, 0, 0, .5)
    border-radius: 4px
    box-sizing: border-box
    transition: .3s
    &:hover
      border-color: $second-color
  &__number
    font-size: $input-text
    background: transparent
    padding: 8px
    border: 1px solid rgba(0, 0, 0, .5)
    border-radius: 4px
    box-sizing: border-box
    display: block
    width: 50%
    transition: .3s
    &:hover
      border-color: $second-color
  &__button
    margin-top: 35px
    background-color: $main-color
    color: white
    letter-spacing: 8px
    font-size: 24px
    box-shadow: 2px 2px 2px rgba(0,0,0,.3)
    border: solid 1px $main-color
    border-radius: 4px
    padding: 7px 60px 8px!important
    max-width: 100%!important
    box-sizing: border-box!important
    height: auto
    text-shadow: none
    float: none!important
    display: block
    width: 100%
    transition: .3s
    &:hover, &:selected
      background: transparent
      border: solid 1px $second-color
      color: $second-color
  &__select
    outline: none
    -moz-appearance: none
    text-indent: 0.01px
    text-overflow: ''
    vertical-align: middle
    font-size: $input-text
    color: inherit
    -webkit-appearance: button
    -moz-appearance: button
    appearance: button
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    height: 40px
    padding: 8px
    border: 1px solid rgba(0, 0, 0, .5)
    width: 100%
    background: transparent
    border-radius: 4px
    transition: .3s
    &:hover
      border-color: $second-color
  &__disclosure
    display: flex
    flex-direction: row
    justify-content: space-between
    text-align: center
  &__radio 
    display: none
  // チェックが入っていないとき
  &__radio + label 
    display: block
    width: 30%
    box-sizing: border-box
    font-size: $input-text
    font-weight: normal
    color: #888
    border: solid 1px rgba(0,0,0,.5)
    border-radius: 5px
    padding: 10px
    background-color: #fff
    cursor: pointer
    box-shadow: 2px 2px 2px rgba(0,0,0,.3)

    transition: .3s
    &:hover
      border-color: $second-color
  // チェックが入ったとき
  &__radio:checked + label 
    color: #fff
    background-color: $second-color
    border-color: $second-color
    box-shadow: 2px 2px 2px rgba(0,0,0,.3)
    font-weight: bold

.closeBtn
  float: right
  cursor: pointer
  font-size: 2.0em
  font-weight: bold
  color: rgba(0,0,0,0.5)
  border: none
  border-radius: 50%
  

.generalBtn
  display: inline-block
  padding: 8px 24px
  font-size: 1.0em
  text-decoration: none
  border: solid 1px $second-color
  border-radius: 3px
  transition: .3s
  background-color: rgba(255, 255, 255, 1)
  box-shadow: 1px 1px 2px #ccc
  @include mq('tab')
    width: 100%
  &:hover
    color: #fff
    border-color: $second-color
    background-color: $second-color



