.p-histories
  &__btn
    margin-top: 10px
    width: 45px
    height: 45px
    position: relative
    display: inline-block
    font-weight: bold
    padding: 0.25em 0.5em
    text-decoration: none
    color: #00bcd4
    border-radius: 45px
    border: none
    background-color: rgba(1,1,1,0.1)
    cursor: pointer
  .on
    color: #fff
    background-color: #00bcd4
    border: 7px solid rgba(1,1,1,0.1)
