.p-photos
  &__inner
  &__thumbnail
  &__list
    margin: 0 auto
  &__listItem
    display: inline-flex
    flex-direction: row
    flex-wrap: rap
    justify-content: flex-start
    margin: 15px
  &__overRay
    display: none
    z-index: 9999
    position: fixed
    left: 0px
    top: 0px
    width: 100vw
    height: 100vh
    background-color: black
    opacity: 0.5