.p-photos
  background-color: #f4f4f4
  user-select: none
  min-height: 80vh
  &__inner
    padding: 30px 30px 40px
  &__heading
    text-align: center
    font-size: 2em
    margin: 50px 0
  &__thumbnails
  &__list
  &__listItem
    text-align: center
    display: inline-flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: flex-start
    margin: 15px
    img
      width: 400px
      height: 300px
      object-fit: cover
  &__card
    position: relative
    overflow: hidden
    padding: 10px
    background-color: #fff
  &__imageContainer
    display: flex
    flex-direction: column
  &__thumbnail
    cursor: pointer
  &__caption
    position: absolute
    bottom: -60px
    left: 0
    z-index: 2
    width: 100%
    height: 60px
    background-color: #fff
    -webkit-transition: .3s
    transition: .3s
  &__card:hover &__caption
    bottom: 0 
  &__form
    display: block
  &__unselected
    margin-top: 10px
    width: 45px
    height: 45px
    position: relative
    display: inline-block
    font-weight: bold
    padding: 0.25em 0.5em
    text-decoration: none
    color: #00bcd4
    border-radius: 45px
    border: none
    background-color: rgba(1,1,1,0.1)
  &__selected
    margin-top: 10px
    width: 45px
    height: 45px
    position: relative
    display: inline-block
    font-weight: bold
    padding: 0.25em 0.5em
    text-decoration: none
    color: #fff
    background-color: #00bcd4
    border: none
    border: 7px solid rgba(1,1,1,0.1)
    border-radius: 45px
  &__complete
    margin-top: 10px
    width: 100%
    height: 45px
    position: relative
    display: inline-block
    font-weight: bold
    padding: 0.25em 0.5em
    text-decoration: none
    color: #fff
    background-color: rgba( 1, 1, 1, 0.5)
    border-radius: 5px
    line-height: 45px
  &__linkWrapper
    padding: 50px
    text-align: center
    position: relative
  &__mark
    position: absolute
    top: 0
    right: 0
    color: rgba(255, 255, 255, 0)
    font-size: 25px
    transition: .3s
  .marked
    color: #ea4c89
    transition: .3s
  &__next
    text-align: center
    display: block
    position: relative
    font-weight: bold
    width: 30%
    padding: 0.5em 0.5em
    margin: 0 auto
    text-decoration: none
    color: #FFF
    background: #00bcd4
    transition: .4s
    border-radius: 5px
    cursor: pointer
    box-shadow: 1px 1px 2px #ccc
    &:visited
      color: #FFF
  &__prev
    text-align: center
    display: block
    margin-top: 10px
  &__overlay
    display: none
    z-index: 9999
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    background-color: black
    opacity: 0.5
  &__btn
    margin-top: 10px
    // width: 45px
    height: 45px
    display: inline-block
    font-size: 40px
    line-height: 30px
    text-decoration: none
    cursor: pointer
    color: rgba(1,1,1,0.1)
    transition: .3s
    &::before
      content: '選択する'
      font-size: 16px
      color: rgba(1,1,1,0.5)
  .on
    color: #ea4c89
    transition: .3s
    &::before
      content: '解除する'
