.l-table
  border-collapse: separate
  border-spacing: 0 8px
  margin: 0 auto
  min-width: 100%
  box-sizing: border-box
  &__head
    @include mq('tab')
      display: none
  &__row
    background-color: #fff
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1)
    transition: box-shadow .3s ease-out
    @include mq('tab')
      display: flex
      flex-direction: column
    &:hover
      box-shadow: 0 0 3px 1px $second-color
  &__header
    text-align: center
    padding: 20px
  &__data
    text-align: center
    word-break: break-all
    padding: 24px 0
    &:first-child
      @include mq('tab')
        background: #e9727e
        color: #fff
        a
          color: #ffffff
          font-weight: bold
    &:before
      @include mq('tab')
        content: attr(data-label)
        // position: absolute
        left: 0
        font-weight: bold
        margin: 0 8px
        float: left
  &__btn
    font-size: 0.8em
    text-align: center
    word-break: break-all
    padding: 8px 0

