@import '../../../utility/*'
@import '../../../foundation/_mixins'
@import './variables'
// ==============================================
// HEADER (PC)
// ==============================================
.l-header
  background-color: $headerColor
  width: 100%
  @include mq('tab')
    height: $headerHeight-sp
    background-color: $headerColor
    position: fixed
    top: 0
    z-index: 1000
    text-align: center
  &__logo
    color: map-get($fontColors, 'white')
    font-size: 2em
    @include mq('tab')
      font-size: 1.5em
    &:visited
      color: map-get($fontColors, 'white')
    &:hover
      color: map-get($fontColors, 'white')
  &__inner
    @include inner
  &__nav
    text-align: right
  &__nav-list
    display: inline-flex
    flex-direction: row
    justify-content: flex-end
  &__nav-item
    display: inline-block
    padding: 1em
  &__link
    text-decoration: none
    color: map-get($fontColors, 'white')
    &:visited
      color: map-get($fontColors, 'white')
    &:hover
      color: map-get($fontColors, 'white')      

