// ==============================================
// DASHBOARD (PC)
// ==============================================

.l-dashboard
  &__inner
    padding: 0 5%
    margin: 0 auto
  &__heading
    font-weight: bold
    font-size: 2.5em
  &__body
    display:flex
    flex-direction: column
  &__panel
    background-color: #fff
    margin: 0 0 20px 0
  &__image
    width: 15%
    padding: 28px
  &__name
    font-size: 1.2em
    padding: 35px
  &__form
    padding: 20px
    width: 15%
    &_item
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 2px 5px
      font-size: 1.2em
  &__menu
    padding: 2em 0
    height: 10%
    text-align: center
    display: flex
    margin: 0 auto
    justify-content: between-space
    align-content: space-around
    flex-wrap: wrap
    padding: 50px
  &__card
    width: 200px
    height: 200px
    margin: 15px
    display: inline-flex
    align-items: center
    justify-content: center
    font-weight: bold
    background-color: #f5f5f5
    border-radius: 4px
    transition: all .1s ease-in 0s
    position: relative
    text-align: center
    text-decoration: none
    &:hover
      transform: translate(-3px,-3px)
      background-color: #3dc49d
      box-shadow: 0 0 #19a67e, 1px 1px 0 #19a67e, 2px 2px 0 #19a67e, 3px 3px 0 #19a67e
      text-decoration: none
      color: #fff
